nav a {
	text-decoration: none;
	color: #000;
	padding: 10px;
}

.active {
	color: turquoise;
}

nav .homeLink {
	font-family: cursive;
	color: turquoise;
}

.playerListItem {
	display: inline-block;
	width: 400px;
}

.playerListItem .defaultPlayerImgDiv {
	text-align: center;
}

.playerListItem .defaultPlayerImgDiv svg {
	height: 85px;
	width: 85px;
}